<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Partituras :: UNET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/favicon.png') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary" ng-app="MyApp" ng-cloak="">

<div class="app-wrapper">
    {{ include('default/main.header.html.twig') }}

    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <div class="sidebar-brand">
            <a href="{{ path('dashboard') }}" class="brand-link">
                <span class="brand-text fw-light">Coro / UNET</span>
            </a>
        </div>

        <div class="sidebar-wrapper" ng-controller="MenuController as ctrl" ng-cloak="">
            <nav class="mt-2">
                {% block menu_principal %}{% endblock %}
            </nav>
        </div>
    </aside>

    <main class="app-main">
        {% block content_header %}{% endblock %}

        <div class="app-content p-3">
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer class="app-footer">
        <div class="float-end d-none d-sm-inline">Version 1.0a</div>
        <strong>
            Copyright &copy; 2025&nbsp;
        </strong>
        Todos los derechos reservados.
    </footer>

    <script>
        window.SYMFONY_ROUTE = '{{ app.request.attributes.get('_route') }}';
    </script>
    {% block scripts %}{% endblock %}
</div>
</body>
</html>

